@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6C757D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #495057;
}

::-webkit-scrollbar-thumb:active {
  background: #212529;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
    overflow: overlay;
}

header{
    z-index: 2;
    position: fixed;
    width: 100%;
    color: white;
    background-color: #0099A6;
    box-shadow: -5px 10px 25px black;
    width: 100%;
}

/* #0098A7 */

a:hover{
    transition: color .5s;
    color: white;
}

nav{
    padding: 10px 0 0;
}

.Cus{
    color: ;
}

a{
    color: #55efc4;
    text-decoration: none;
    transition: color .5s;
}

nav ul{
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
/*     padding-bottom: 35px; */
    line-height: 80px;
}

.gs{
    text-shadow: none;
    color: white;
    font-size: 1.3rem;
    border-radius: 30px;
    padding: 10px;
    transition: color .5s ease-out, background-color .5s  ease-out, border-color .5s ease-out;
    border: 2px solid #55efc4;
}

.gs:hover{
    color: #0099A6;
    background-color: #55efc4;
    border-color: #55efc4;
    transition: color .5s ease-in, background-color .5s  ease-in, border-color .5s ease-out;
}

.gs:active{
    transition: color .1s linear;
    color: white;
}

.hm{
    color: white;
    text-shadow: none;
    text-transform: none;
    padding-right: 0;
    font-size: 1.3rem;
}

header nav ul li{
    white-space: nowrap;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-right: 70px;
    display: inline-block;
    float: right;
}

span{

    margin-top: -10px;
    font-size: 2.5rem;
}

.top-para{
    font-family: 'Noto Sans', sans-serif;
    padding: 50px 250px;
    color: #218389;
    letter-spacing: .5px;
    line-height: 45px;
    font-size: 2rem;
}

.main{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: -webkit-linear-gradient(#55efc4 70%, #83C5BE);
    background-image: -o-linear-gradient(#55efc4 70%, #83C5BE);
    background-image: linear-gradient(#55efc4 70%, #83C5BE);
}

#heading{
    font-family: 'Merriweather', serif;
    color: #006d77;
    width: 100%;
    font-size: 6rem;
    word-spacing: 40px;
    letter-spacing: 5px;
    padding-top: 200px;
}

@media(max-width: 1000px){
    .top-para{
        padding: 50px 100px;
        font-size: 1.5rem;
    }

    #heading{
        font-size: 5rem;
        word-spacing: 20px;
    }
}

@media(max-width: 800px){
    #heading{
        word-spacing: 10px;
        font-size: 3.5rem;
        padding-top: 150px;
    }

    .top-para{
        padding: 20px 100px;
        font-size: 1rem;
        line-height: 30px;
    }
}

@media(max-width: 500px){
    .top-para{
        padding: 20px 30px;
        line-height: 30px;
    }

    #heading{
        font-size: 2.5rem;
        letter-spacing: 2px;
    }

    .hm{
        font-size: .5rem;
    }
}

@media(max-width: 800px){
    header nav ul li{
        padding-right: 30px;
    }
    .hm{
        font-size: .5rem;
    }
}



@media(max-width: 600px){
    header nav ul li{
        font-size: 1rem;
    }

    .gs{
        font-size: 1rem;
    }

    .hm{
        font-size: .5rem;
}

@media(max-width: 500px){
    header nav ul li{
        padding-right: 15px;
        font-size: .7rem;
    }

    .hm{
        font-size: .7rem;
    }

    .gs{
        font-size: .7rem;

    }
}

@media(max-width: 300px){
    header nav ul li{
        font-size: .5rem;
        padding-right: 10px;
    }

    .hm{
        font-size: .2rem;
    }

}

@media(max-width: 100px){
    header nav ul li{
        font-size: .2rem;
        padding-right: 5px;
    }

    .hm{
        font-size: .2rem;
    }

}

.card1-para{
    font-size: 5rem;
}













