@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6C757D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #495057;
}

::-webkit-scrollbar-thumb:active {
  background: #212529;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow: overlay;
}

header{
    z-index: 2;
    position: fixed;
    width: 100%;
    color: white;
    background-color: #0099A6;
    box-shadow: -5px 10px 25px black;
    width: 100%;
}

/* #0098A7 */

a:hover{
    transition: color .5s;
    color: white;
}

nav{
    color: white;
    padding: 10px 0 0;
}

.Cus{
    color: ;
}

a{
    text-decoration: none;
    transition: color .5s;
}

nav ul{
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
/*     padding-bottom: 35px; */
    line-height: 80px;
    color: white;
}

.gs{
    text-shadow: none;
    color: white;
    font-size: 1.3rem;
    border-radius: 30px;
    padding: 10px;
    transition: color .5s ease-out, background-color .5s  ease-out, border-color .5s ease-out;
    border: 2px solid #55efc4;
}

.gs:hover{
    color: #0099A6;
    background-color: #55efc4;
    border-color: #55efc4;
    transition: color .5s ease-in, background-color .5s  ease-in, border-color .5s ease-out;
}

.gs:active{
    transition: color .1s linear;
    color: white;
}

.hm{
    color: white;
    text-shadow: none;
    text-transform: none;
    padding-right: 0;
    font-size: 2.5rem;
}

header nav ul li{
    color: white;
    white-space: nowrap;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-right: 70px;
    display: inline-block;
    float: right;
}

header nav  ul a{
    color: #55efc4;
}

span{

    margin-top: -10px;
    font-size: 2.5rem;
}

.top-para{
    font-family: 'Noto Sans', sans-serif;
    padding: 50px 250px;
    color: #218389;
    letter-spacing: .5px;
    line-height: 45px;
    font-size: 2rem;
}

.main{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: -webkit-linear-gradient(#55efc4 70%, #83C5BE);
    background-image: -o-linear-gradient(#55efc4 70%, #83C5BE);
    background-image: linear-gradient(#55efc4 70%, #83C5BE);
}

#heading{
    font-family: 'Merriweather', serif;
    color: #006d77;
    width: 100%;
    font-size: 6rem;
    word-spacing: 40px;
    letter-spacing: 5px;
    padding-top: 200px;
}

@media(max-width: 1000px){
    .top-para{
        padding: 50px 100px;
        font-size: 1.5rem;
    }

    #heading{
        font-size: 5rem;
        word-spacing: 20px;
    }
}

@media(max-width: 800px){

    header nav ul li{
        padding-right: 30px;
    }

    #heading{
        word-spacing: 10px;
        font-size: 3.5rem;
        padding-top: 150px;
    }

    .top-para{
        padding: 20px 100px;
        font-size: 1rem;
        line-height: 30px;
    }
}

@media(max-width: 800px){
    header nav ul li{
        padding-right: 30px;
    }
    .hm{
        font-size: 2rem;
    }
}

@media(max-width: 700px){
    header nav ul li{
        font-size: 1rem;
    }

    .gs{
        font-size: 1rem;
    }

    .hm{
        font-size: 2rem;
    }

    .bd{
        padding-right: 0px;
    }

    .why{
        margin: 0;
        padding: 50px 0;
    }

}

@media(max-width: 580px){
    header nav ul li{
        padding-right: 15px;
        font-size: .7rem;
    }

    .hm{
        font-size: 1.5rem;
    }

    .gs{
        font-size: .7rem;

    }
}

@media(max-width: 500px){
    .top-para{
        padding: 20px 30px;
        line-height: 30px;
    }

    #heading{
        font-size: 2.5rem;
        letter-spacing: 2px;
    }

    .hm{
        font-size: 1.2rem;
    }

}


@media(max-width: 400px){
    header nav ul li{
        font-size: .5rem;
        padding-right: 10px;
    }

    .hm{
        font-size: 1.3rem;
    }

}

@media(max-width: 100px){
    header nav ul li{
        font-size: .2rem;
        padding-right: 5px;
        word-spacing: 1px;
    }

    .hm{
        font-size: .2rem;
    }
}


.cards{
    display: flex;


    flex-direction: row;
    padding: 100px 0;
    justify-content: space-between;
}

.cards .card{
    padding-left: 50px;
    padding-right: 50px;
}

.card1{
    background-color: #55efc4;
    border-radius: 20px;
}

.card2{
    border-radius: 20px;
    background-color: #55efc4;
}

.card3{
    background-color: #55efc4;
    border-radius: 20px;
}

.cards .card .cp{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3rem;
    color: #006d77;
    padding: 30px;
    text-align: center;
}

.cards .card .ci{
    display: flex;
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 50%;
}

.cards .card .img{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #006d77;
    font-size: 1.6rem;
}

@media (max-width: 800px) {
    .cards .card{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 600px) {
    .cards .card{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 550px) {
    .cards .card{
        padding-left: 5px;
        padding-right: 5px;
    }


    .cards{
        flex-direction: column;
    }

    .cards .card{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
    }
}

.card1-para{
    font-size: 5rem;
}

.getStarted{
    background-image: -webkit-linear-gradient(#55efc4 70%, #83C5BE);
    background-image: -o-linear-gradient(#55efc4 70%, #83C5BE);
    background-image: linear-gradient(#55efc4 70%, #83C5BE);
}

.bw{
    color: #006d72;
    padding: 100px;
    padding-top: 70px;
    font-family: 'Noto Sans', sans-serif;
    margin-right: 80px;
}

.bd{
    padding: 50px;
    padding-top: 70px;
    margin-right: 0;
}

.bw h1{
    color: #218389;
    margin-right: 20px;
    margin-bottom: 30px;
    line-height: 40px;
}

.bw p{
    color: #42999B;
    font-size: 1.5rem;
    line-height: 30px;
}

.ce-img{
    margin-left: 10px;
}

.dev-img{
    width: 300px;
    height: 50px;
    border-radius: 50px;
}

.bw-img{
    margin-top: 30px;
    margin-left: 30px;
    width: 50px;
}

.why{
    font-size: 3rem;
    color: #006d77;
    letter-spacing: .5px;
    word-spacing: 7px;
    padding: 100px 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.gs-1{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}

@media (max-width: 900px){
    .bw-img{
        width: 50px;
        letter-spacing: 20px;
    }

    .bw{
        margin-right: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .why{
        padding: 70px 0;
    }
}

@media (max-width: 600px) {
    .dev-img{
        width: 50px;
        height: 50px;
    }

    .bw-img{
        margin-left: 10px;
        width: 40px;
    }
    .gs-1{
        flex-direction: column;
    }

    .bw{
        padding-left: 0;
        margin: 0;
        text-align: center;
    }

    .bd{
        padding-left: 0;
        margin: 0;
        text-align: center;
    }

}

.lgs{
    margin-top: 50px;
}

.lgs-h1{
    text-align: center;
    word-spacing: 11px;
    font-family: 'Merriweather', serif;
    padding: 50px;
    font-size: 3rem;
    color: #00636C;
}

.tgfs{
    font-family: 'Noto Sans', sans-serif;
    padding: 0px 0 50px;
    word-spacing: 5px;
    letter-spacing: .9px;
    text-align: center;
    color: #117880;
}

.email{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.email input{
    outline: none;
    border-radius: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    padding-left: 20px;
    border-color: #006D77;
}

.email h2{
    font-family: 'Noto Sans', sans-serif;
    margin-right: 50px;
    color: #218389;
}

.password{
    padding: 0;
    margin-left: -46px;
}

.cwg{
    cursor: pointer;
    border-radius: 50px;
    padding: 8px 0px 8px 0px;
    text-align: center;
    letter-spacing: .9px;
    word-spacing: 3px;
    font-family: 'Noto Sans', sans-serif;
    margin: 20px 465px 20px 420px;
    color: white;
    background-color: #218389;
    transition: border-color 1s, color 1s, background-color 1s;
    border: 2px solid #218389;
}

@media(max-width: 1200px){
    .cwg{
        margin: 20px 405px 20px 350px;
    }
}

@media(max-width: 1000px){
    .cwg{
        margin: 20px 300px 20px 250px;
    }
}

@media(max-width: 800px){
    .cwg{
        margin: 20px 200px 20px 150px;
    }
}

@media(max-width: 600px){
    .cwg{
        margin: 20px 100px 20px 50px;
    }

    .email{
        padding: 20px;
    }
    .email input{
        font-size: 1.2rem;
    }
}

@media(max-width: 500px){
    .cwg{
        margin: 20px 100px 20px 50px;
    }

    .email{
        padding: 10px;
        padding-right: 0;
        margin-left: 20px;
    }

    .password{
        margin-left: -25px;
    }

    .email input{
        font-size: 1rem;
    }

    .email h2{
        margin-right: 10px;
    }
}

.cwg a{
    color: white;
}

.cwg:hover{
    border: 2px solid #218389;
    transition: border-color 1s, color 1s, background-color 1s;
    background-color: white;
    color: #218389;
}

.cwg:active{
    border: 2px solid #55efc4;
    transition: border .01s;
}

footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    color: #55efc4;
    background-color: #218389;
    padding: 20px;
    margin-top: 50px;
}

footer ul{
    padding: 10px;
    list-style-type: none;
}

footer a{
    color: #55efc4;
}

.footer-icons a img{
    width: 50px;
}

.footer-icons a{
    padding: 20px;
}

.footer-icons{
    margin-left: 30px;
}









































